@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
html{
    display:flex;
    flex-direction: column;
   text-align: center;
}
body{
    margin:0;
    background-color: thistle;
}
.nav-list{
    text-align: right;
    color: black;
    padding-bottom: 1rem;
    
    
}
label,input{
    display: block;
    font-size: x-large;
    margin-top: 1rem;
    
}
input{
    margin: auto;
    margin-top: 1rem;
    border-radius: 1rem;
    border-color: violet;
    
}
label{
    color:black;
    
    display:inline-block;
    border-radius: 0.5rem;
}
.check{
    font-size: larger;
    margin-top: 1rem;
    border-radius:1rem;
    border-color: violet;
    background-color:violet;
    color:white
}
.output{
    font-size: xx-large;
    margin-top: 1rem;
    font:bolder;
    padding-bottom: 4rem;
}
.nav-list-item{
    display: inline;
    padding: 0rem 1rem;
    font-size: large;
    

}
.nav-heading{
    display: flex;
    margin:0;
    padding:1rem;
    font-size:xx-large;
}
a{ text-decoration: none;
color: black;}
nav{
background-color: violet;
margin:0;

}
 
